<div class="container">

<!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


</div>




<!-- 	<div class="row banner">
		<div class="col-md-9">
			<div class="panel panel-default" style="margin-top: 20px;">
				<div class="panel-body">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<ngb-carousel> <ng-template ngbSlide>
					<img src="https://loremflickr.com/620/480/dog?random=1"
						alt="Random first slide">
					<div class="carousel-caption">
						<h3>10 seconds between slides...</h3>
						<p>This carousel uses customized default values.</p>
					</div>
					</ng-template> <ng-template ngbSlide> <img
						src="https://loremflickr.com/620/480/dog?random=2"
						alt="Random second slide">
					<div class="carousel-caption">
						<h3>No keyboard...</h3>
						<p>This carousel uses customized default values.</p>
					</div>
					</ng-template> <ng-template ngbSlide> <img
						src="https://loremflickr.com/620/480/dog?random=3"
						alt="Random third slide">
					<div class="carousel-caption">
						<h3>And no wrap after last slide.</h3>
						<p>This carousel uses customized default values.</p>
					</div>
					</ng-template> </ngb-carousel>
				</div>
				</div>
			</div>

		</div>
		<div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
	</div> -->
